@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .border-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    border: 8px solid #ffffff;
  }

  .btop a::before{
    border-top: 4px solid #805943;
    border-left: 4px solid #eb671a;
}    
  .bbottom a::after{
    border-right: 4px solid #eb671a;
    border-bottom: 4px solid #eb671a;
} 
}
